* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
}

@media (max-width: 600px) {

    .general {
        justify-content: left;
        min-width: fit-content;
        max-height: fit-content;
    }

    .frameChild > p {
        display: none;
    }

    .frameInstagram, .frameInstagram > img{
        width: 0;
        height: 0;
    }

    .profile_line_2 {
        flex-direction: column;
    }

    .profile_posts {
        align-items: center;
    }

    .profile_posts > article {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .story_1 {
        margin-right: 5%;
    }

    .profile_line_2 {
        margin-top: 1%;
    }
  }

.general {
    display: flex;
    background-color: #FAFAFA;
    justify-content:center;
    padding-right: 10%;
    min-width: fit-content;
    max-height: fit-content;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items:left;
    background-color: white;
    width: 10%;
    padding: 2%;
    min-width: fit-content;
}

.info {
    padding-top: 2%;
}

.gris{
    width: 14%;
}

.frameChild > img, p{
    display: inline;
    margin-right: 5%;
    width: fit-content;
}

.frameChild{
    margin: 5%;
    white-space: nowrap;
}

.bold{
    font-weight: bold;
}

.userProfile {
    display: flex;
    justify-content:left;
    align-items:center;
    padding: 2% 0;
    align-items: stretch;
}

.userProfile1 {
    display: flex;
    justify-content: center;
    width: 35%;
}

.userProfile2 {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content:space-around;
}

.profile_line_2 {
    display: flex;
    width: 100%; 
}

.profile_line_1, .profile_line_2, .name  {
    display: flex;
}

.profile_name_button {
    display: flex;
}

.follow > button {
    margin-left: 10%;
    background-color: #0095F6;
    padding: 0.125rem 1rem;
    text-align: center;
    color: white;
    border-style: none;
    border-radius: 0.25rem;
}

.profile_name {
    display: flex;
    align-items: end;
}

.profile_name > p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-stretch: expanded;
    font-weight: 350;
}

.image_more {
    margin-left: 5%;
}

.profile_button {
    background-color: #FAFAFA;
    width: 33%;
    text-align: left;
    border-style: none;
}

.storys {
    display: flex;
    width: 80%;
    padding-left: 5em;
    justify-content:space-around;
    align-items:end;
    font-size: small;
    padding-top: 2em;
}

.story_border {
    border: 4px;
    border-color: white;
    border-radius: 50%;
}

.story_1 {
    width:25%;
}

.toggle {
    display: flex;
    justify-content: space-around;
    border-color: rgb(216, 209, 209);
    border-top-style:solid;
    border-top-width: 1px;
    margin-top: 3em;
    width:100%;
    padding-left: 0em;
}

.toggle_selected {
    border-top-color: black;
    border-top-style: solid;
    border-top-width:thin;
}

.toggle > article {
    display: flex;
    font-size:x-small;
    padding: 2em;
}

.toggle > article > p {
    color: rgb(189, 186, 186);
}

.button {
    border: 0;
    background-color: #FAFAFA;
    padding-right: 10%;
}

.profile_posts > article{
    white-space:nowrap;
    display: flex;
    
}

.profile_posts > article > img {
    width:13em;
    height:13em;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 2% 8% 4% 12%
}

.footer_1, .footer_2 {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}


.footer_1 > li, .footer_2 > li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.6rem;
    color: #8E8E8E;
}

.footer_1 > li {
    padding-right: 2%;
}

.footer_2_icon {
    padding: 0 5% 5% 1%
}