* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.general {
    display: flex;
    height:2485px;
}

.gris {
    background-color: #FAFAFA;
    width: 15%;
    align-items: stretch;
    padding-top: 2%;
}

.frame {
    width: 15%;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 2% 1%;
    
}

.frameChild > img, p{
    display: inline;
    margin-right: 5%;
}

.frameChild{
    margin: 8%;
}

.userProfile {
    width: 55%;
    align-items: stretch;
    background-color: #FAFAFA;
    padding-top: 2%;
}